chat with audio file/chat with audio file.json
{
  "name": "Transcribe Audio, Summarize with AI, and Chat",
  "nodes": [
    {
      "parameters": {
        "formTitle": "upload files",
        "formFields": {
          "values": [
            {
              "fieldLabel": "file",
              "fieldType": "file",
              "requiredField": true
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.formTrigger",
      "typeVersion": 2.3,
      "position": [
        -592,
        -64
      ],
      "id": "afffce32-7e15-4373-9d68-e61d614be431",
      "name": "On form submission",
      "webhookId": "6a855b26-34fd-48eb-a865-6af5a8beccbf"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/upload",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "sendBody": true,
        "contentType": "binaryData",
        "inputDataFieldName": "file",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -368,
        -64
      ],
      "id": "361be9bf-8ebb-4011-a1ce-95027939ecdd",
      "name": "HTTP Request",
      "retryOnFail": true,
      "maxTries": 2
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://api.assemblyai.com/v2/transcript",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"audio_url\": \"{{$json.upload_url}}\",\n  \"speaker_labels\": true,\n  \"summarization\": true,\n  \"summary_type\": \"bullets\",\n  \"summary_model\": \"informative\"\n}\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        -144,
        -64
      ],
      "id": "988ac454-e1df-4217-a99e-173ec1ad1d53",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://api.assemblyai.com/v2/transcript/{{$json.id}}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Authorization",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        304,
        -144
      ],
      "id": "a6e98d4c-6046-4588-a2f6-a93144c418b5",
      "name": "HTTP Request2"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1.1,
      "position": [
        80,
        -64
      ],
      "id": "3d306cb4-f9d2-4768-94ca-f8a02ad8a17f",
      "name": "Wait",
      "webhookId": "46bb5a3f-58e2-48dc-8597-1b243ede0766"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 3
          },
          "conditions": [
            {
              "id": "b46b9be9-32b0-4422-a640-ad78f7c267a5",
              "leftValue": "processing",
              "rightValue": "={{ $json.status }}",
              "operator": {
                "type": "string",
                "operation": "notEquals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        528,
        -64
      ],
      "id": "f5437308-69d7-4f0e-b257-d6077f3eaae1",
      "name": "If"
    },
    {
      "parameters": {
        "operation": "toText",
        "sourceProperty": "text",
        "options": {}
      },
      "type": "n8n-nodes-base.convertToFile",
      "typeVersion": 1.1,
      "position": [
        752,
        -64
      ],
      "id": "2eb66641-d751-4adb-9809-ece339d35752",
      "name": "Convert to File"
    },
    {
      "parameters": {
        "mode": "insert",
        "pineconeIndex": {
          "__rl": true,
          "value": "n8n-rag-chat-bot",
          "mode": "list",
          "cachedResultName": "n8n-rag-chat-bot"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        960,
        -64
      ],
      "id": "f877e1a4-919a-466b-8baa-2afee7407cb5",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "qUPviTuhledEbczU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        928,
        176
      ],
      "id": "e3827ff9-003b-4244-a028-20a7fa1cf407",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "chunkOverlap": 100,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        1136,
        384
      ],
      "id": "d8eeac46-86a4-46ee-a428-2b2d4f834630",
      "name": "Recursive Character Text Splitter"
    },
    {
      "parameters": {
        "dataType": "binary",
        "textSplittingMode": "custom",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        1056,
        176
      ],
      "id": "7eb43a01-b0b8-40c5-98ab-8503dfceec7a",
      "name": "Default Data Loader"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1pYIgL3eDL7jWiVK9zEy2mM5S3tjnPdVxqM7K9-1ANVU",
          "mode": "list",
          "cachedResultName": "audio file vectore store log",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pYIgL3eDL7jWiVK9zEy2mM5S3tjnPdVxqM7K9-1ANVU/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1pYIgL3eDL7jWiVK9zEy2mM5S3tjnPdVxqM7K9-1ANVU/edit#gid=0"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "file": "={{ $('On form submission').item.json.file[0].filename }}",
            "status": "uploaded"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "file",
              "displayName": "file",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1296,
        -64
      ],
      "id": "7e34b6b0-256a-4ab7-9008-846fc737b63d",
      "name": "Append row in sheet",
      "executeOnce": true,
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "5ewVvwFTLDlJ7YzJ",
          "name": "Google Sheets account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -608,
        368
      ],
      "id": "d663ec34-de17-435a-84c0-fc6a3ff76c18",
      "name": "When chat message received",
      "webhookId": "a85ea453-697b-4437-9cb1-2fa38c1cf05e"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -320,
        368
      ],
      "id": "674fb954-c646-43ed-ad6c-6e534fe05ff6",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGoogleGemini",
      "typeVersion": 1,
      "position": [
        -384,
        592
      ],
      "id": "ccc426e1-5543-4f2a-8e35-935b9f9c9413",
      "name": "Google Gemini Chat Model",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        -256,
        592
      ],
      "id": "9bb9d925-51b1-4a92-b9e9-3ca4a1d1ebf5",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "retrieve info from this database for user conversation.",
        "pineconeIndex": {
          "__rl": true,
          "value": "audio-summaries",
          "mode": "list",
          "cachedResultName": "audio-summaries"
        },
        "topK": 5,
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -128,
        592
      ],
      "id": "1e9ed193-8e4a-4514-b765-7d0c31b2d157",
      "name": "Pinecone Vector Store1",
      "credentials": {
        "pineconeApi": {
          "id": "qUPviTuhledEbczU",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -48,
        800
      ],
      "id": "d2ccb4f7-b4b7-4d09-b876-7dd55b9b920b",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "0qx7MVBn4PpeYK6I",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "content": "#### Transcribe Audio, Summarize with AI, and Chat\n\n### How it works\n1. An audio file is uploaded via a form.\n2. The workflow sends the audio to AssemblyAI for transcription, speaker labeling, and summarization into bullet points.\n3. The full transcript is then chunked, embedded using Google Gemini, and stored in a Pinecone vector database for future retrieval.\n4. A record of the uploaded file is added to a Google Sheet.\n5. Separately, an AI chatbot can answer questions by retrieving relevant information from the Pinecone vector database using Google Gemini.\n\n### Setup\n- [ ] Connect your AssemblyAI API key.\n- [ ] Connect your Pinecone API key and specify your Pinecone index for audio summaries.\n- [ ] Connect your Google Gemini (PaLM) API account.\n- [ ] Connect your Google Sheets account and specify the spreadsheet and sheet name for logging with column named file and status.",
        "height": 752,
        "width": 592
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -1312,
        -160
      ],
      "typeVersion": 1,
      "id": "9fc9e413-8774-4c47-a70c-97a0e969eda6",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## chatbot with context of audio files",
        "height": 672,
        "width": 800,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -656,
        288
      ],
      "typeVersion": 1,
      "id": "c3ef4984-c8c7-4d25-a613-bbc6373007d4",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## 1. upload file to AssemblyAi for stt",
        "height": 288,
        "width": 640,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        -640,
        -160
      ],
      "typeVersion": 1,
      "id": "c1f0f6cc-cd75-47a4-9aea-c704637f11be",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "## 2. get transcripts and prepare to upload in vector store\n",
        "height": 352,
        "width": 832,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        32,
        -176
      ],
      "typeVersion": 1,
      "id": "8eee8d24-65b5-45dc-92fc-5a57bcca8208",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "## 3. Upload to vectore store and log everything",
        "height": 704,
        "width": 592,
        "color": 7
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        896,
        -160
      ],
      "typeVersion": 1,
      "id": "961ef001-840c-4710-98da-b22fa44618b7",
      "name": "Sticky Note4"
    }
  ],
  "pinData": {},
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request1": {
      "main": [
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait": {
      "main": [
        [
          {
            "node": "HTTP Request2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request2": {
      "main": [
        [
          {
            "node": "If",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If": {
      "main": [
        [
          {
            "node": "Convert to File",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Character Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Default Data Loader",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Default Data Loader": {
      "ai_document": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Convert to File": {
      "main": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "main": [
        [
          {
            "node": "Append row in sheet",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Gemini Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store1": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store1",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "8a6f2a5c-47fd-4d23-93b5-abbfd2d03efc",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "ae21f7ff983ee929f98e8d7968bbd21b49d1a44f2e129169348ba847d37dd5ac"
  },
  "id": "YP0gjU37crc9mbBl",
  "tags": []
}